@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
    height: 100%;
    background: #fff;
    font-family: "Mulish", sans-serif;
    font-size: 0.875rem;
    color: #54565b;
}

.main-container {
    background: #fff;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
}

.App {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
}

aside li {
    cursor: pointer;
}

.items {
    box-shadow: 10px 10px 7px rgba(32, 32, 35, 0.04);
}
